* {
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

body, html {
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure full width */
  overflow-x: hidden; /* Prevent horizontal overflow */
}



.row {
  margin-left: 0; /* Reset margin for rows */
  margin-right: 0; /* Reset margin for rows */
}

.card {
  width: 30vw; /* Adjust width of cards */
  height: 50vh; /* Fixed height for cards */
  margin: 5vh 5vw; /* Add vertical margin and horizontal margin to avoid overflow */
  border-radius: 30px;
  
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;

          
}
img{
  height: 10vh;
  width: 10vh;
  margin: auto;
  margin-bottom: 2vh;

}
h3{
  background-color: aquamarine;
  margin: 2vw,20vh;
}
.sol{
  border-width: 2px;
  color: black;
  background-color: transparent;
}

.sol:hover{
  background-color: #19875484;
  color: black;
}

.sol , .ex {
  width: 15vw;
  margin: 2vh;
  border-radius: 1.5vh;
}
.mathcard{
  background-color: pink;


  background-color: #ffffff;
  opacity: 0.8;
  background-image:  linear-gradient(#f7b445 1px, transparent 1px), linear-gradient(to right, #f7b445 1px, #ffffff 1px);
  background-size:10px 10px;
}

@media (max-width: 767px) {
  .sol , .ex {
    width: 40vw;
    margin: 2vh;
    border-radius: 1.5vh;
  }
  
  
}