@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: cover center no-repeat;
  overflow-x: hidden;
}

.container,
.navbar {
  margin: 0;
  padding: 0;
}

.mainsec {
  background-color: white;
  height: fit-content;
  width: 70vw;
  margin: auto;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.logo {
  height: 40vh;
  width: 50vw;
  animation: slide-in;
}

.main h1 {
  font-family: "El Messiri", sans-serif;
  font-weight: bold;
  animation: slide-in1;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  width: 100%;
}

.button-24 {
  background-color: #48bb78;
  border: rounded-lg;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 3px;
  transition: all 0.3s ease;
  &:hover {
    background-color: transparent;
    color: #48bb78;
    border: 2px solid #48bb78;
  }
  &:focus {
    outline: 2px solid #48bb78;
    opacity: 0.5;
  }
}

.mainbuttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
  animation: flyIn 3s ease-out forwards;
}

@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(150vw);
    scale: 200%;
  }
  to {
    transform: translateX(0);
    scale: 100%;
  }
}

.navbar {
  width: 100%;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 4px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f7fafc;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1000;
}

.navbar-toggler {
  margin-left: 1rem;
  z-index: 1100;
}

.navbar-brand {
  margin-left: 0.5rem;
}

.navbar-nav .nav-link {
  font-family: "El Messiri", sans-serif;
  margin: 0 1rem;
  color: black;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.navbar-collapse.show {
  transform: translateX(0);
  opacity: 1;
}

.card {
  width: 30vw;
  height: 80vh;
  margin: 5vh 5vw;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;
  box-shadow: 15px 15px 30px rgba(190, 190, 190, 0.5), -15px -15px 30px #ffffff;
}

.studentCard {
  width: 20vw;
  height: 35vh;
  margin: 5vh 5vw 5vh 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;
  background-color: whitesmoke;
  box-shadow: 15px 15px 30px rgba(190, 190, 190, 0.5), -15px -15px 30px #ffffff;
}

img {
  height: 10vh;
  width: 10vh;
  margin-bottom: 1rem;
}

.rowEX {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-top: 5vh;
  font-family: "El Messiri", sans-serif;
  width: 100%;
}

h3 {
  font-family: "El Messiri", sans-serif;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sol {
  border: 2px solid black;
  background-color: transparent;
  &:hover {
    background-color: #48bb78;
    color: black;
  }
}

.sol,
.ex {
  width: 15vw;
  margin: 2vh;
  border-radius: 1.5vh;
}

.SeconedSection {
  padding-left: 2vw;
  padding-right: 2vw;
}

.row-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.exams {
  background-color: transparent !important;
}

.instructor {
  background: linear-gradient(transparent, #f0582e);
  border-radius: 3vh;
  overflow: hidden;
}

.instructor h3,
.Students h3 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Students {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  .left-arrow {
    left: 0;
  }
  .right-arrow {
    right: 0;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    width: 100%;
    scroll-behavior: smooth;
  }
}

.allStudents {
  border-radius: 3vh;
  overflow: hidden;
}

.allStudents h3 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 5vh;
  color: #f0e68c;
  padding-bottom: 5vh;
}

.mathexams {
  background-color: #d0d0d0;
  width: 80vw;
  margin: auto;
  background-image: linear-gradient(#b3b3b3 1px, transparent 1px),
    linear-gradient(to right, #b3b3b3 1px, #e5e5f7 1px);
}

.footercontainer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-family: "El Messiri", sans-serif;
}

.footercontainer ul {
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.footercontainer ul img {
  width: 3vw;
  height: 5vh;
}

footer {
  width: 100%;
}

.logofooter a {
  align-items: center;
  width: 10vw;
  height: fit-content;
}

@media (max-width: 1000px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    overflow-x: hidden;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 15vh;
    background-color: #f7fafc;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1050;
    opacity: 0;
  }

  .navbar-collapse.show {
    transform: translateX(0);
    opacity: 1;
  }

  .mb-2 {
    width: 20vw;
  }

  .logo {
    height: 70vh;
    width: 60vw;
  }

  .studentCard {
    width: 80vw;
    height: 25vh;
    margin: 5vh 0;
  }

  .main {
    width: 80vw;
  }

  .rowEX {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .exams {
    width: 100%;
  }

  .footercontainer ul {
    flex-direction: column;
    padding-left: 5vw;
  }

  .footercontainer ul img {
    width: 10vw;
    height: 10vh;
  }

  .footercontainer {
    flex-direction: column;
    align-items: center;
  }
}
