/* styles.css */
.carousel-item {
  height: 50vh; /* Adjust the height here */
  }
  .SeconedSection{
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .carousel-item img {
    object-fit: cover; /* Ensure images cover the area */
    height: 100%; /* Ensure image height matches carousel item */
    width: 100%; /* Ensure image width matches carousel item */
  }
  .row-container {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;  /* Ensure the container has enough height to center items */
}


.bd-placeholder-img {
    margin-right: 10px;      /* Add some space between the SVG and the heading */
}

.instructor h3 , .Students h3{
  padding-top: 5vh;
  background-color: palevioletred;
  padding-bottom: 5vh;
}
.row{

  justify-content: center;
}
.Students {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth; /* Smooth scrolling for a better experience */
  width: 100%;
}



}
.allStudents h3{
  text-align: center;
  margin-bottom: 20px;
  padding-top: 5vh;
  background-color: palevioletred;
  padding-bottom: 5vh;
}

/* From Uiverse.io by Codewithvinay */ 
.card {
  width:20vw!important;
  height: fit-content !important;
padding-top: 2vh;
padding-left: 2vw;
padding-right: 2vw;
padding-bottom: 2vh;
 border-radius: 0 !important;
 border: none;
  background: #ffffff !important;
  box-shadow: 20px 20px 60px #bebebe
                -20px -20px 60px #ffffff !important;
 }



@media (max-width: 767px) {
  .row-container {
    background-color: aquamarine;
    width:100%;
    padding-left: 2vw;
    display: flex; 
    flex-direction: column;          
    align-items: center;     /* Center items vertically */
}
.card {
  width:50vw!important;
  background-color: aqua;
}
}

