body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: url("../public/assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden; /* Prevent any horizontal scroll */
}

.container,
.navbar {
  margin: 0;
  padding: 0;
  /*f0582e*/
  background-color: #f0582e !important;
}

.mainsec {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  width: 70vw;
  margin: auto;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0.5;
  z-index: -1; /* Places the background behind the content */
}

.logo {
  height: 40vh;
  width: 50vw;
  animation-duration: 3s;
  animation-name: slide-in;
}
.main h1 {
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  animation-duration: 4s;
  animation-name: slide-in1;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  width: 100%;
}

.button-24 {
  background: #19875484;
  border: 1px solid #19875484;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #19875484;
}

.button-24:active {
  opacity: 0.5;
}
.mainbuttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
  animation: flyIn 3s ease-out forwards; /* Apply animation */
  button {
    font-family: "El Messiri", sans-serif;
    width: 20vw;
  }
}

@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(100%); /* Start below the screen */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End in the default position */
  }
}
@keyframes slide-in1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* Full-width navbar */
.navbar {
  direction: rtl;
  width: 100vw; /* Full viewport width */
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 4px 4px !important;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Adjust width as needed */
  height: 100vh; /* Full height */
  background-color: #f8f9fa; /* Light background for sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Initially hidden */
  z-index: 1000; /* Ensure it's above other elements */
}

/* Toggler Button */
.navbar-toggler {
  margin-left: 4vw; /* Adjusted for spacing */
  z-index: 1100;
}

/* Navbar Brand */
.navbar-brand {
  margin-left: 2vw;
}

/* Navbar Items */
.navbar-nav .nav-link {
  font-family: "El Messiri", sans-serif;
  margin: 0 10px; /* Margin between links */
  color: rgb(0, 0, 0); /* White text color */
}

/* Active link styles */
.navbar-nav .nav-link.active {
  font-weight: bold; /* Bold text for active links */
}

.navbar-nav {
  padding: 0;
}

/* Collapse styles */
.navbar-collapse.show {
  right: 0; /* Slide in from the right */
  opacity: 1; /* Fade in */
}

/*ExamsCard*/
.card {
  width: 30vw; /* Adjust width of cards */
  height: 80vh; /* Fixed height for cards */
  margin: 5vh 5vw; /* Add vertical margin and horizontal margin to avoid overflow */
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
.mb-2 {
  width: 20vw;
}
.studentCard {
  width: 20vw; /* Adjust width of cards */
  height: 35vh; /* Fixed height for cards */
  margin: 5vh 5vw 5vh 0; /* Add vertical margin and horizontal margin to avoid overflow */
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  border-radius: 5vh;
  background-color: whitesmoke;
  /* box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff; */
}

img {
  height: 10vh;
  width: 10vh;
  margin-bottom: 4vh;
}
.rowEX {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1 {
  padding-top: 5vh;
  font-family: "El Messiri", sans-serif;
  width: 100vw;
}
h3 {
  font-family: "El Messiri", sans-serif;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sol {
  border-width: 2px;
  color: black;
  background-color: transparent;
}

.sol:hover {
  background-color: #19875484;
  color: black;
}

.sol,
.ex {
  width: 15vw;
  margin: 2vh;
  border-radius: 1.5vh;
}

.SeconedSection {
  padding-left: 2vw;
  padding-right: 2vw;
}

.row-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh; /* Ensure the container has enough height to center items */
}
.exams {
  background-color: transparent !important;
}
/* Add some space between the SVG and the heading */
/* .bd-placeholder-img {
  margin-right: 10px; 
} */
.instructor {
  background: linear-gradient(transparent, #f0582e);
  border-radius: 3vh;
  overflow: hidden;
}

.instructor h3,
.Students h3 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.row {
  justify-content: center;
  align-items: center;
}
.Students {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth; /* Smooth scrolling for a better experience */
    width: 100%;
  }
}
.allStudents {
  background: linear-gradient(#f0582e, transparent);
  border-radius: 3vh;
  overflow: hidden;
}

.allStudents h3 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 5vh;
  color: palegoldenrod;
  padding-top: 7vh;
  font-weight: bold;
  padding-bottom: 5vh;
}
.mathexams {
  background-color: #e5e5f7;
  width: 80vw;
  margin: auto;
  background-image: linear-gradient(#b3b3b3 1px, transparent 1px),
    linear-gradient(to right, #b3b3b3 1px, #e5e5f7 1px);
  background-size: 20px 20px;
  background-color: #ffffff;
  opacity: 1;
  /* background-image: linear-gradient(rgba(250, 235, 215, 1) 1px, transparent 1px),
    linear-gradient(to right, rgba(250, 235, 215, 1) 1px, #ffffff 1px);
  background-size: 20px 20px; */
  /* background-color: #e6e3e3;
  opacity: 1;
  background-image: linear-gradient(rgba(250, 235, 215, 1) 1px, transparent 1px),
    linear-gradient(to right, rgba(250, 235, 215, 1) 1px, #e6e3e3 1px);
  background-size: 20px 20px; */
}
.footercontainer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  font-family: "El Messiri", sans-serif;
}
.footercontainer ul {
  display: flex;
  width: fit-content;
  flex-direction: row;
}
.footercontainer ul img {
  width: 3vw;
  height: 5vh;
}
footer {
  width: 100vw;
}

.logofooter a {
  align-items: center;
  width: 10vw;
  height: fit-content;
}
/* Sidebar visibility on small screens */
@media (max-width: 1000px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;

    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    overflow-x: hidden; /* Prevent any horizontal scroll */
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0; /* Start off-screen from the left */
    width: 250px;
    height: 100vh;
    padding-top: 15vh;
    background-color: #e8eaec;
    transition: transform 0.3s ease;
    z-index: 1050;
    opacity: 0;
    transform: translateX(-100%); /* Hidden off-screen initially */
  }

  .navbar-collapse.show {
    transform: translateX(0); /* Slide in */
    opacity: 1;
  }
  /*button on examsscreen*/
  .mb-2 {
    width: 20vw;
  }
  .studentCard {
    width: 80vw;
  }
}

/* Hide the sidebar on larger screens */
@media (min-width: 1001px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;

    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    overflow-x: hidden; /* Prevent any horizontal scroll */
  }
  .sidebar {
    display: none;
  }
}

@media (max-width: 900px) {
  .mainsec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
  }
  .card {
    width: 40vw;
    padding-right: 3vw;
    padding-left: 3vw;
  }
  .rowEX {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mb-2 {
    width: 40vw;
  }
  .mainbuttons {
    justify-content: space-around;
    button {
      width: 90%;
    }
  }
  .logo {
    width: 100%;
    height: 30vh;
  }
}

@media (max-width: 767px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;

    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    overflow-x: hidden; /* Prevent any horizontal scroll */
  }
  .row-container {
    width: 100%;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }
  .card {
    width: 60vw;
    padding: 2vh;
    background-color: antiquewhite;
  }
  .rowEX {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sol,
  .ex {
    width: 40vw;
    margin: 2vh;
    border-radius: 1.5vh;
  }
  .mainbuttons {
    button {
      width: 90%;
    }
  }
  .logo {
    width: 100%;
    height: 30vh;
  }
}
